button.button{
    border: none;
    
}
button.button0{
    border:none;
    width: 10%;
    padding: -10px;
    margin: 0 -4px;
}
a.cycle{
    margin-left: 15px;
}
a.text{
    font-size:2em;
    color: rgb(255, 0, 208);
    font-weight: bold;
}
img{
    margin:-6px -11px;
}
.button1{
    height: 3em;
    width:20%;
}
div#show{
    padding: 2em 0em;
    margin:2em;
    
    border:8px solid blue;
}
